<div class="list-group">
  {{#each model as |message|}}
    <div class="list-group-item">
      {{#message-container message=message as |state actions|}}
        {{message-display
          message=state.message
          isChecked=state.isChecked
          isFavorited=state.isFavorited
          handleCheck=(action actions.toggleCheck)
          handleFavorite=(action actions.toggleFavorite)
        }}
      {{/message-container}}
    </div>
  {{/each}}
</div>
